$bgc: #343434;
$goldColor: #d2b859;
$goldShadow:#ddc87b;
$b: #fff;
$pureWhite: rgba(255,255,255, .8);
$whiteShadow: rgba(255, 255, 255, .4);
$blackShadow: rgba(0, 0, 0, .6);
$deepBlackShadow: rgba(0, 0, 0, .93);
$fontBlack:rgba(29, 29, 29, 0.8);
//SERVICES
$serviceBotBack:rgb(243, 243, 243);