@mixin heroTextBounce($bounceTime, $bounceDelay, $marginBottom ) {
    text-align: center;
    margin-top: $marginBottom;
    animation: bounceInUp $bounceTime $bounceDelay;
}
@mixin navLine($scale) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $goldColor;
    transform: scaleY($scale);
    transition: transform .3s;
    content: '';
}

@mixin whiteBlock($bgc){
    background-color: $bgc;
    transform: skew(45deg);
}
@mixin headerImg ($img){
    background-image: url($img);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height:320px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:400px;
}