$textFont: 10px;
$xsmallFont: 9px;
$textFont: 12px;
$smallFont: 16px;
$mediumFont: 24px;
$bigFont: 35px;
$largeFont: 50px;
$titleFont: 60px;
//HEADER
$headerHeightMobile: 60px;
$headerHeightSmall: 70px;
$headerHeightMedium: 80px;
$headerHeightLarge: 100px;
$headerPaddingMobile: 15px;
$headerPaddingMedium: 20px;
$headerPaddingMedium: 20px;
//SOCIAL
$marginSocial: 5px;
//BURGER MENU
$wMenu: 30px;
$paddingBurger: 10px;
$hLine: 3px;
$sepLine: 7px;
$numLines: 3;
$bar: 70px;
$navHeight: 40px;
