@import '../../styles/colors';
@import '../../styles/size';

.social {
    display: flex;
    justify-content:center;
    align-items: center;
    transition: display .3s;
    &__item{
        display: flex;
        justify-content:center;
        align-items: center;
        height: $wMenu;
        width: $wMenu;
        margin: $marginSocial;
        
        &--font{
            font-size: ($wMenu - $marginSocial) - 8px;
            color: $pureWhite;
            text-shadow: 2px 2px 2px $goldShadow;
            transition:color .35s;
        }
        &:hover{
            .social__item--font{
                color:$goldColor;
            }
        }
    }
    
    
}