@import '../../styles/size';
@import '../../styles/colors';
@import '../../styles/mixin';

.nav{
    position: fixed;
    top:0;
    height:100%;
    width:100%;
    padding: 100px 0;
    background-color:black;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow:hidden;
    &__item{
        text-transform: capitalize;
        letter-spacing: 2px;
        position:relative;
        display:block;
        margin: .5em 0;
        padding: .2em 1em;
        font-size: 2rem;
        color: $pureWhite;
        text-decoration: none;
        z-index: 11;
        &:before{
            @include navLine(0);
        }
        &:hover::before{
            transform: scaleY(1);
        }
        &--dropdown{
            text-transform: capitalize;
            background-color: rgba(255, 255, 255, 0.1);
            letter-spacing: 2px;
            position:relative;
            display:block;
            margin: .5em 0;
            padding: .2em 1em;
            font-size: 2rem;
            color: $pureWhite;
            text-decoration: none;
            z-index: 10;
        }
    }
}
.active{
    color: $goldColor;
    &:before{
        @include navLine(1);
    }
}