@import '../../styles/size';
@import '../../styles/colors';

.burger-menu {
    position: relative;
    margin: 0 15px;
    width: $wMenu + ($paddingBurger * 2);
    height: ($numLines * ($hLine + $sepLine)) + ($paddingBurger * 2) - 5px;
    cursor: pointer;
    transition: display .3s;

    &__container {
        position: absolute;
        display: flex;
        justify-content: center;
        left: $paddingBurger;
        width: $wMenu;
        height: 23px;
        overflow: visible;

        .line {
            position: absolute;
            width: $wMenu;
            background-color: $goldColor;
            left: 0;
            display: block;
            height: $hLine;
        }

        #line0 {
            top: ($hLine + $sepLine) * 1;
            transition: .3s;
        }

        #line1 {
            top: ($hLine + $sepLine) * 2;
            transition: top .3s;
        }

        #line2 {
            top: ($hLine + $sepLine) * 3;
            transition: .3s;
        }

        .txt-container {
            position: absolute;
            width: $wMenu;
            left: 0;
            top: 12px;
            height: 0px;
            overflow: hidden;
            transition: top 1s;
            width: 100%;
            height: 20px;
            top: 12px;

            span {
                position: absolute;
                top: 30px;
                left: 0;
                width: 100%;
                height: auto;
                font-family: sans-serif;
                text-align: center;
                font-size: 9px;
                color: $goldColor;
                transition: top .5s;
            }
        }

        .showMenu0 {
            transform: rotate(45deg) translateX(9px) translateY(7px);
            translate: (-50%, -50%);
            transition: .3s;
        }

        .showMenu2 {
            transform: rotate(-45deg) translateX(7px) translateY(-6px);
            translate: (-50%, -50%);
            transition: .3s;
        }
    }

}

.burger-menu:hover #line1 {
    top: ($hLine + $sepLine) * 3;
}

.burger-menu:hover .txt-container>span {
    top: 4.5px;
}